#sidenav-container {
  float: right;
}

#sidenav-site-title {
  font-size: 40px;
  color: dodgerblue;
}

.sidenav-drawer {
  width: 28%;
}

.menu-icon {
  color: #9f5518;
}

.sidenav-button,
.sidenav-link {
  text-decoration: none;
  font-size: 20px;
  color: #9f5518;
  width: 100%;
}

.sidenav-drawer-toggle {
  top: 24px;
  right: 1.4rem;
}

/* Material-UI Drawer */
.MuiDrawer-paperAnchorLeft {
  width: inherit;
  background-color: rebeccapurple !important;
}

.MuiTouchRipple-root {
  color: #9f5518 !important;
}

.MuiButton-label {
  width: 100%;
  font-size: 20px;
  color: #9f5518;
}

.MuiButton-root:active {
  color: #9f5518 !important;
}

.MuiButton-textSecondary {
  color: #9f5518 !important;
}

@media (min-width: 1000px) {
  #sidenav-container {
    display: none;
  }
}

@media (max-width: 800px) {
  .sidenav-drawer {
    width: 40%;
  }
  .sidenav-link {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .sidenav-drawer {
    width: 65%;
  }
}
