.spinner {
  position: relative;
  top: 38%;
  left: 40%;
}

@media (max-width: 1024px) {
  .spinner {
    left: 28%;
    top: 35%;
  }

  .MuiCircularProgress-svg {
    border: none;
  }
}

@media (max-width: 600px) {
  .spinner {
    left: 6%;
    top: 34%;
  }
}
