.AboutParagraph {
  position: relative;
  width: 98%;
  padding: 2px;
  font-size: 18px;
  left: 24px;
}

.WakaTime {
  display: flex;
}

.WakaImg {
  padding: 5px;
}

@media (max-width: 600px) {
  .AboutParagraph {
    left: 5px;
  }
}

/* For half-screen width pages */
/* @media (max-width: 1000px) {
  .PageContainer {
    position: relative;
    left: -12.5%;
  }
} */
