.BlogPostsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  left: 9%;
}

.BlogPosts {
  display: inline-block;
  color: black;
  font-weight: bold;
}

.numPosts {
  position: relative;
  top: -10px;
}

.PostsCont {
  padding: 0 20px 0 20px;
}

.postContainer {
  border: 2px solid black;
  margin: 20px 0px 10px 0px;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  border-radius: 22px;
  margin-bottom: 3%;
  position: relative;
  width: 420px;
  height: 300px;
  /* left: 10%; */
}

.Title {
  font-size: xx-large;
  position: relative;
  top: 7px;
  left: 5px;
  /* text-decoration: underline; */
}

.Subject {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.651);
}

.Line {
  margin-top: 15px;
}

@media (max-width: 1000px) {
  .BlogPostsContainer {
    position: relative;
    left: 25%;
  }
  .link {
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .ReadStr {
    display: none;
  }
}
