html {
  background-image: url("../images/sudasite2.gif");
  background-repeat: no-repeat;
  background-position-y: 96px;
  background-size: 100%;
}

@media (max-width: 1024px) {
  html {
    background-image: none;
    background-color: #252a31;
  }
  .index-content {
    position: relative;
    left: 3px;
  }
}

.index-content {
  display: flex;
  justify-content: center;
}

#posts-title {
  text-align: center;
  color: #9f5530;
  position: relative;
  right: 15px;
}

@media (max-width: 600px) {
  #posts-title {
    font-size: 20px;
    left: 0px;
  }
}
