.map-container {
  display: flex;
  justify-content: center;
}

.travel-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

.travel-buttons {
  flex-flow: row;
  margin: 15px;
}

.travel-loc {
  font-size: 24px;
  font-weight: bold;
  color: orangered;
}

.leaflet-map {
  height: 35rem;
  width: 100rem;
}

.search-box {
  display: flex;
}

.MuiFormControl-root {
  width: 100%;
  color: #9f5530;
}

#searchbox-label {
  color: #9f5530;
}
