.map-container {
  display: flex;
  justify-content: center;
}

.leaflet-container {
  border-radius: 10px;
}

.travel-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

.travel-buttons {
  flex-flow: row;
  margin: 15px;
}

.travel-loc {
  font-size: 24px;
  font-weight: bold;
  color: orangered;
}

.leaflet-map {
  height: 35rem;
  width: 100rem;
}

.search-box {
  display: flex;
}

.MuiFormControl-root {
  width: 100%;
  color: #9f5530;
}

.MuiButton-label {
  left: 3px;
  text-align: center;
}

#searchbox-label {
  color: #9f5530;
}

#all-location-link {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .travel-buttons {
    display: grid;
    width: 69%;
    padding: 8px;
  }
  .MuiButtonBase-root {
    margin: 10px !important;
  }
  .leaflet-map {
    width: 88%;
  }
  #all-location-button {
    position: relative;
    right: 20px;
  }
}

@media (max-width: 600px) {
  #travel-searchbutton {
    width: 60%;
    padding: 10px;
  }
}
