.navbar-list {
  list-style: none;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 0px;
  text-align: center;
  left: -12px;
  top: -1px;
}

.ListItem {
  display: inherit;
  margin: 0px 10px 0 10px;
  text-align: center;
  position: inherit;
  left: 5px;
  top: -3px;
}

.navbar-divider {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  position: relative;
  top: 0;
}

.navbar-div {
  background-color: inherit;
  display: flex;
  /* justify-content: right; */
  float: inline-end;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  position: relative;
  top: -6px;
  left: -15px;
}

@media (max-width: 800px) {
  .navbar-div {
    display: none;
  }
}

.ListItem:hover {
  opacity: 0.9;
  filter: alpha(opacity=95);
}

.MuiButton-textSecondary {
  color: #9f5518 !important;
}

.MuiButton-textSecondary:hover {
  color: #9f5518 !important;
}
