body {
  background-color: #282c34;
}

#allLocation-map {
  position: relative;
  height: 600px;
  border-radius: 10px;
}

#to-travel-button {
  position: relative;
  top: -10px;
}

.MuiInputBase-input {
  border-bottom: 1px solid white !important;
  color: white !important;
}

#to-travel-link,
#all-location-link {
  text-decoration: none;
  padding: 4px;
  position: relative;
  color: orange;
}

@media (max-width: 1024px) {
  #to-travel-button {
    right: 20px;
  }
  #allLocation-map {
    width: 90%;
    left: 5%;
  }
  .MuiButton-label {
    left: 0px !important;
  }
}

@media (max-width: 600px) {
  #allLocation-map {
    width: 90%;
    left: 5%;
  }
  .MuiButton-label {
    left: 0px !important;
  }
}
